
<div class="jumbotron">
	<h1 class="welcome">Welcome to RottenMangoes!</h1>
	<div class="spacer"></div>
	<%= render 'search' %>
	<div class="spacer"></div>
</div>

<%# javascript :defaults, 'endless_page' %>

<section id="movies" class="movies-index">
	<%= render @movies %>
</section>

<%= will_paginate @movies %>